body {
	font-family: 'SourceSansProRegular', helvetica , arial, sans-serif;
	background: #fff;
}

header {
	width: 100%;
	background: #0a89ff;
	float: left;
}

header div {
	background: #0a89ff; 
	color: #000;
	max-width: 1000px;
	width: 93.5%;
	margin: 0 auto;
	padding: 2% 3.25%;
	
}

.container { 
	color: #000;
	max-width: 1000px;
	width: 93.5%;
	margin: 0 auto;
	padding: 2% 3.25%;
}

article { 
	max-width: 1000px;
	width: 93.5%;
	margin: 0 auto;
	padding: 2% 3.25%;
	float: left;
}
	
section {
	float: left;
	margin: 0 0 1em 0;
	width: 100%;
	
}

section span {
	color: #ffa300;
}

article section aside span {
	font-size: 2.5em;
	float: left;
	padding: 3.25%;
	margin: .5em 0;
}

article section h2 {
	clear: both;
}
footer li {
	margin: 0 3% 0 0;
	display: block;
	float: left;
	color: #000;
}
footer a:link, footer a:visited {
	text-decoration: none;
	color: #0a89ff;
}


footer a:hover, footer a:active, footer a:focus {
	color: #ffa300;
}

/***** Tyopraphy *****/

h1, h2, h3, h4, h5, h6 { 

}

h1 {
	font-size: 4.5em;
	font-family: 'SourceSansProBlack';
	text-shadow: 2px 2px 1px #fff;
}
	
h2 {
	font-size: 3em;
	color: #000;
	font-family: 'SourceSansProLight';
}

h3 {
	font-size: 2em;
	color: #000;
	font-family: 'SourceSansProLight';
}

h4 {
	font-size: 1.5em;
	color: #000;
	font-family: 'SourceSansProLight';
	
}

h5 {
	
}

h6 {
	
}

p {
	font-size: 1em;
	line-height: 1.6em;
	margin:  0 0 .5em 0;
}
a#customize {
	text-decoration: none;
	color: #000;
	font-size: 1.5em;
	float: right;
}

.customcontainer {
	width: 100%;
	background: #999;
	float: left;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000; 
}

.custom {
	width: 93.5%;
	padding: 3.25%;
	background: #999;
	margin: 0 auto 0;
	max-width: 1000px;
}
.custom p {
	clear: both;
	width: 100%;
}
.custom section {
	background: #999; 
	color: #000;
}
.custom section.customcolor{
	width: 32.5%;	
}

.customcolor ul {	
	margin: 0 2% 0 0;
	float: left;
	width: 100%;
}

.customcolor li a {
	height: 25px;
	width: 25px;
	float: left;
	margin: .3em;
	text-decoration: none;
	color: #fff;
}

.customcolor li:nth-of-type(1) a {
	background: #0f0;
}
.customcolor li:nth-of-type(2) a {
	background: #00f;
}
.customcolor li:nth-of-type(3) a {
	background: #f00;
}
.customcolor li:nth-of-type(4) a {
	background: #ffa300;
}
.customcolor li:nth-of-type(5) a {
	background: #f60589;
}
.customcolor li:nth-of-type(6) a {
	background: #eaff00;
}
.customcolor li:nth-of-type(7) a {
	background: #000;
}
.customcolor li:nth-of-type(8) a {
	background: #fff;
}
#fontsize li a {
	background: none !important;
	width: inherit;
	height: inherit;
}

.customizedbar {
	margin-top: -40em;
}

.arrow {
	font-family: autofont;
	display: inline-block;
}

.arrowup {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
.icons aside {
	width: 25%;
	float: left;	
}

.icons aside span{
		text-align: center;	
		width: 100%;
	}
@media screen and (max-width: 900px){ 

	.custom section.customcolor{
		width: 50%;	
	}
	
	}





@media screen and (max-width: 540px){ 
	.customcolor ul {
		width: 100%;
		margin: 2.5% 0 0 0;
	}
	
	.icons aside {
		width: 50%;	
	}
	.custom section.customcolor{
	width: 100%;	
	}


}

